---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if page.toc %}
        {% assign parts = content | split: '<!--toc-->' %}
      
        <div class="row">    
          <!-- Main content -->
          <article class="col-lg-10">
            <div class="content container-md">
              {{ parts[1] }}
            </div>
          </article>
          <!-- TOC -->
          <aside class="col-lg-2 d-none d-lg-block toc">
            <nav class="toc-inner">
              <h2 class="toc-title-small">Content</h2>
              
              <div class="toc-list-content">
                {{ parts[0] }}
              </div>
              
                <div class="toc-footer">
                  <h2 class="toc-title-small">Research Questions</h2>
                  <p style="font-size: 0.9rem; color: #666; line-height: 1.3;">
                    Which subreddit pairs show the strongest polarity asymmetries?
                  </p>
              
                  <p style="font-size: 0.9rem; color: #666; line-height: 1.3;">
                    Are one-sided hostilities different from mutual hostilities?
                  </p>
              
                  <p style="font-size: 0.9rem; color: #666; line-height: 1.3;">
                    What impact do polarity asymmetries have on the network?
                  </p>
                </div>
              
            </nav>
          </aside>        


          <!--
          <aside class="col-lg-2 d-none d-lg-block">
            <div class="right-column sticky-side">
                <h2 class="toc-title-small">Research Questions</h2>
            
                <p style="font-size: 0.9rem; color: #666; line-height: 1.3;">
                  Which subreddit pairs show the strongest polarity asymmetries?
                </p>
            
                <p style="font-size: 0.9rem; color: #666; line-height: 1.3;">
                  Are one-sided hostilities different from mutual hostilities?
                </p>
            
                <p style="font-size: 0.9rem; color: #666; line-height: 1.3;">
                  What impact do polarity asymmetries have on the network?
                </p>
              </div>
            </aside>
            -->
          
          

        </div>
 
    
      {% else %}
        <!-- Normal page layout -->
        <div class="content container-md">
          {{ content }}
        </div>
      {% endif %}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
